langchain
langchain-groq
langchain-community
langgraph
supabase
python-dotenv
tavily-python
fastapi
uvicorn
pydantic
psycopg2-binary
sqlalchemy
sentence-transformers
langchain-huggingface
streamlit



