langchain
langchain-core
langchain-groq
langchain-community
langchain-tavily
langgraph
supabase
python-dotenv
fastapi
uvicorn
pydantic
psycopg2-binary
sqlalchemy
sentence-transformers
langchain-huggingface
httpx
